{{>layouts/header}}

<h1>회원가입 페이지</h1>

<form action="/joinProc" method="post" name="joinForm">
    <input type="text" name="email" placeholder="Email"/>
    <input type="text" name="username" placeholder="Username"/>
    <input type="password" name="password" placeholder="Password"/>
    <input type="submit" value="Join"/>
</form>

{{>layouts/footer}}