{{>layouts/header}}

{{#voca}}
    <div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
        <a href="/voca/{{id}}" class="btn btn-primary px-5 py-2 mb-2">단어 학습</a>
        <a href="/test" class="btn btn-primary px-5 py-2">단어 테스트</a>
    </div>
{{/voca}}


{{>layouts/footer}}