{{>layouts/header}}

<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    {{#voca}}
        <div class="card text-center" style="width: 25rem;">
            <div class="card-body">
                <h3 class="card-title">{{spelling}}</h3>
                <p class="card-text">{{meaning}}</p>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            {{#isFirst}}
                <button class="btn btn-secondary px-4 py-2" disabled><</button>
            {{/isFirst}}
            {{^isFirst}}
                <a href="/voca/{{prev}}" class="btn btn-primary px-4 py-2"><</a>
            {{/isFirst}}

            <a href="/voca/list" class="btn btn-primary px-4 py-2 mx-3">〓</a>

            {{#isLast}}
                <button class="btn btn-secondary px-4 py-2" disabled>></button>
            {{/isLast}}
            {{^isLast}}
                <a href="/voca/{{next}}" class="btn btn-primary px-4 py-2">></a>
            {{/isLast}}
        </div>

        {{currentIndex}} / 40

        <div class="d-flex justify-content-center mt-5">
            {{#isLast}}
                <a href="/select" class="btn btn-primary px-5 py-2">학습 완료</a>
            {{/isLast}}
        </div>
    {{/voca}}
</div>

{{>layouts/footer}}