{{>layouts/header}}

<div class="container d-flex flex-column justify-content-center align-items-center" style="height: 100vh;">
    {{#voca}}
        <div class="card text-center" style="width: 25rem;">
            <div class="card-body">
                <h3 class="card-title">{{spelling}}</h3>
                <p class="card-text">{{meaning}}</p>
            </div>
        </div>
        <div class="d-flex justify-content-center mt-4">
            <a href="/voca/{{prev}}" class="btn btn-primary px-4 py-2 me-3 {{#isFirstWord}}disabled{{/isFirstWord}}"><</a>
            <a href="/voca/list" class="btn btn-primary px-4 py-2 me-3">〓</a>
            <a href="/voca/{{next}}" class="btn btn-primary px-4 py-2 {{#isLastWord}}disabled{{/isLastWord}}">></a>
        </div>
    {{/voca}}
</div>

{{>layouts/footer}}